*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right, #77c9d4, #57bc90);
    font-family: 'Raleway', sans-serif;
}

nav{
    position: absolute;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, #77c9d4, #57bc90);
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    .links{
        display: flex;
        height: 100%;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
            a{
                // color:#015249;
                height: 100%;
                display: flex;
                align-items: center;
                font-family: sans-serif;
                text-transform: capitalize;
                &:hover{
                    color: #015249;
                }
            }
            }
        }
   .logo{
        margin: 0 10px;
        color: white;
        flex-grow: 1;
        padding: 2px 0;
        img{
            height: 50px;
            width: 50px
        }
    }
    .ham{
        display: none;
        color: white;
        margin: 0 10px;
        height: 60%;
        border-radius: 6px
    }
    }

nav .links a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    text-transform: capitalize
}

.hampopup{
    position: absolute;
    display: flex;
    top: 9vh;
    height: 30vh;
    width: 0;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    flex-direction: column;
    background: linear-gradient(to right, #77c9d4, #57bc90);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    a{
        text-decoration: none;
        color: white;
        // margin-top: 5px;
        background: #57bc90;
        display: block;
        width: 99%;
        height: 7vh;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        // border-bottom: 1px solid #fff;
        &:hover{
            background:linear-gradient(to right, #77c9d4, #57bc90);
            color: #fff
        }
    }
}

.noparallax{
    overflow: hidden;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, #77c9d4, #57bc90);
    display: flex;
    align-items: center;
    justify-content: center;
    .img1{
        background-image: url(img2.png);
        width: 50%;
        height: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.heading{
    background: linear-gradient(to right, #77c9d4, #57bc90);
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}
/* .animatedsbar{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    animation-name: bar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out

}

@keyframes bar {
    0%{opacity: 0;
    transform: scale(0)}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
} */

.profile{
    background-color: #57bc90;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .pic{
        margin: 30px auto 10px auto;
        background-image: url(pfp.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 200px;
        height: 200px;
        border: 4px solid #fff;
        border-radius: 50%
    }
    .bio{
        color: white;
        margin: 25px;
        width: 40%;
        h4{
            line-height: 2;
            transform: translateY(-300%);
            transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}

.workHead{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

.works{
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    a{
        display: block;
        height: 23vh;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #57bc90;
        color: white;
        text-decoration: none;
        font-weight: bolder;
        &:hover{
            background: linear-gradient(to right, #77c9d4, #57bc90);
        }
        
    }
}

.contact{
    margin-top: 50px;
    height: 30vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: #fff;
        margin: 0 auto;
    }
    .social{
        a{
            text-decoration: none;
            color: white;
            img{
                margin-top: 20px;
                width: 40px;
                height: 40px;
                padding: 0 10px;
            }
        }
    }
}


@media screen and (max-width: 425px){
    nav{
        .links{
            display: none
        }
        .logo{
            display: flex;
            padding: 2px;
        }
        .ham{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            width: 8%;
        }
    }
    .hamactive{
        width: 100%
    }

    .profile{
        width: 90%;
         .bio {
            width: 80%;
            h4{
                line-height: 1.5
            }
        }
    }

    .works{
        grid-template-columns: 1fr;
        width:90%;
        margin-top: 10px;
        a{
            width: 80%;
            // margin-top: 10px;
        }
    }
}

@media screen and (max-width: 768px){
    .profile{
        width: 90%;
         .bio {
            width: 70%;
            h4{
                line-height: 1.5
            }
        }
    }
}