*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    // background: linear-gradient(to right, #3f2b96, #a8c0ff);
    // background: linear-gradient(to right, #6A82FB, #FC5C7D);
    font-family: 'Raleway', sans-serif;
}

.hero{
    position: relative;
    height: 200vh;
}
nav{
    position: absolute;
    width: 100%;
    display: flex;
    background-color: linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    .links{
        display: flex;
        height: 100%;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
            a{
                // color:#015249;
                height: 100%;
                display: flex;
                align-items: center;
                font-family: sans-serif;
                text-transform: capitalize;
                &:hover{
                    color: lighten($color: #292E49, $amount: 50%)
                }
            }
            }
        }
   .logo{
        margin: 0 10px;
        color: white;
        flex-grow: 1;
        padding: 2px 0;
        img{
            height: 50px;
            width: 50px
        }
    }
    .ham{
        display: none;
        color: white;
        margin: 0 10px;
        height: 60%;
        border-radius: 6px
    }
    }

nav .links a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    text-transform: capitalize
}

.hampopup{
    position: absolute;
    display: flex;
    top: 9vh;
    height: 30vh;
    width: 0;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    flex-direction: column;
    // background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    a{
        text-decoration: none;
        color: white;
        // margin-top: 5px;
        background: transparentize($color: #292E49, $amount: 0.4);
        display: block;
        width: 99%;
        height: 7vh;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        // border-bottom: 1px solid #fff;
        &:hover{
            background: darken($color: #292E49, $amount: 5%);
            color: #fff
        }
    }
}

.logobig{
    width: 300px;
    position: fixed;
    bottom: 90px;
    left: calc(50% - 150px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 140px;
    font-weight: 600;
    transform: rotateZ(0deg);
    color: white;
    .part1 {
    transform: translateX(-100px);
    };
    .part2 {
    font-size: 200px;
    transform: rotateZ(7deg);
    };
    .part3 {
    transform: translateX(100px);
    }
}
.heading{
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.profile{
    background-color: linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .pic{
        margin: 30px auto 10px auto;
        background-image: url(pfp.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 200px;
        height: 200px;
        border: 4px solid #fff;
        border-radius: 50%;
        transform: scale(1);
    }
    .bio{
        color: white;
        margin: 25px;
        bottom: 0;
        width: 70%;
        h4{
            text-align: center;
            line-height: 2;
            transform: translateY(-300%);
            transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}

.workHead{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

.works{
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    a{
        display: block;
        height: 23vh;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: darken($color: #BBD2C5, $amount: 5%); 
        color: white;
        text-decoration: none;
        font-weight: bolder;
        &:hover{
            background-color: lighten($color:#536976, $amount: 10%);
        }
        
    }
}

.contact{
    margin-top: 50px;
    height: 30vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: #fff;
        margin: 0 auto;
    }
    .social{
        a{
            text-decoration: none;
            color: white;
            img{
                margin-top: 20px;
                width: 40px;
                height: 40px;
                padding: 0 10px;
            }
        }
    }
}


@media screen and (max-width: 768px){

    .hero{
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    nav{
        position: absolute;
        .links{
            display: none
        }
        .logo{
            display: flex;
            padding: 2px;
        }
        .ham{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            width: 8%;
        }
    }
    .hamactive{
        width: 100%
    }

    .logobig{
        overflow: hidden;
        width: 60vw;
        position: relative;
        top: 9vh;
        left: calc(50% - 30vw);
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 8rem;
        font-weight: 600;
        transform: rotateZ(0deg);
        color: white;
        .part1 {
        transform: translateX(0);
        };
        .part2 {
        font-size: 6rem;
        transform: rotateZ(7deg);
        };
        .part3 {
        transform: translateX(0);
        }
    }

    .profile{
        overflow: hidden;
        width: 90%;
         .bio {
            width: 80%;
            h4{
                line-height: 1.5;
                transform: translateY(-300%);
            }
        }
    }

    .works{
        overflow: hidden;
        grid-template-columns: 1fr;
        width:90%;
        margin-top: 10px;
        a{
            width: 60%;
        }
    }
}

