*{
    padding: 0;
    margin: 0;
}

body{
    background: #333
}

nav{
    position: absolute;
    width: 100%;
    display: flex;
    background-color: #333;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    .links{
        display: flex;
        height: 100%;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
            a:hover{
                color: yellowgreen
            }
            }
        }
   .logo{
        margin: 0 10px;
        color: white;
        flex-grow: 1;
        padding: 2px 0;
        img{
            height: 70px;
            width: 70px
        }
    }
    .ham{
        display: none;
        color: white;
        margin: 0 10px;
        height: 60%;
        background-color: yellowgreen;
        border-radius: 6px
    }
    }

nav .links a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    text-transform: capitalize
}

.hampopup{
    position: absolute;
    display: flex;
    top: 9vh;
    height: 30vh;
    width: 0;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    flex-direction: column;
    background-color: #333;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    a{
        text-decoration: none;
        color: white;
        // margin-top: 5px;
        background-color: #333;
        display: block;
        width: 99%;
        height: 7vh;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid yellowgreen;
        &:hover{
            background-color: yellowgreen;
            color: #333;
        }
    }
}

.noparallax{
   /*  position: absolute;
    top: 9vh; */
    width: 100%;
    height: 90vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    .img1{
        background-image: url(img1.png);
        width: 80%;
        height: 80%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellowgreen;

}
/* .animatedsbar{
    margin-top: 20px;
    text-align: center;
    color: yellowgreen;
    animation-name: bar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out

}

@keyframes bar {
    0%{opacity: 0;
    transform: scale(0)}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
} */

.profile{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .pic{
        background-image: url(pfp.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 200px;
        height: 200px;
        border: 4px solid yellowgreen;
        border-radius: 50%
    }
    .bio{
        color: white;
        margin: 25px;
        width: 40%;
        h4{
            line-height: 2;
            transform: translateY(-300%);
            transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}

.workHead{
    margin-top: 40px;
    color: yellowgreen;
    text-align: center;
    text-transform: uppercase
}

.works{
    margin: 50px auto;
    display: grid;
    grid-gap: 20px;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    a{
        display: block;
        height: 20vh;
        width: 18vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: yellowgreen;
        color: #333;
        text-decoration: none;
        font-weight: bolder;
        &:hover{
            opacity: 0.8;
        }
        
    }
}

.contact{
    height: 30vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: yellowgreen;
    }
    .social img{
        margin-top: 20px;
        margin-left: 20px;
        width: 40px;
        height: 40px;

    }
}


@media screen and (max-width: 425px){
    nav{
        .links{
            display: none
        }
        .logo{
            display: flex;
            padding: 2px;
        }
        .ham{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            width: 8%;
        }
    }
    .hamactive{
        width: 100%
    }

    .profile{
         .bio {
            width: 72%;
            h4{
                line-height: 2
            }
        }
    }

    .works{
        grid-template-columns: 1fr;
        a{
            width: 30vw;
            margin-top: 10px;
        }
    }
}